body {
	font-family: Helvetica, sans-serif;
	background-color: rgb(15, 240, 191);
}


input[type="email"],
textarea,
.confirmation-output {
  padding: 15px;
  margin: 12px;
  border-style: 2px;
}


.message {
  color: red;
  border-style: 2px;
  margin: 8px;
}
